.juicy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.boom {
  background-color: burlywood;
}
.alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: khaki;
}
.body {
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  color: blue;
  display: flex;
}
.alias {
  flex-direction: row;
  justify-content: space-between;
  /* width: 400px; */
  color: blue;
  display: flex;
  margin-top: 70px;
}
.car {
  /* align-self: center; */
  justify-content: center;
  /* align-items: center; */
  display: flex;
}
.mastu {
  text-align: center;
  color: blue;
}
.app {
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  color: blue;
  display: flex;
}
.atn {
  flex-direction: row;
  justify-content: space-between;
  /* width: 400px; */
  /* color: blue; */
  display: flex;
}
.main {
  /* background-color: khaki; */
}
.bar {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  width: 400px;
  color: blue;
}
.button {
  padding: 20px;
  width: 150px;
  height: 40px;
  background-color: blue;
  font-size: large;
  border-radius: 5px;
}
